/* _content/CourseAdvisoryApplication/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-silgsyv6s8] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-silgsyv6s8] {
  color: #0077cc;
}

.btn-primary[b-silgsyv6s8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-silgsyv6s8], .nav-pills .show > .nav-link[b-silgsyv6s8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-silgsyv6s8] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-silgsyv6s8] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-silgsyv6s8] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-silgsyv6s8] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-silgsyv6s8] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.background-text[b-silgsyv6s8] {
  position: fixed; /* Fixed positioning to keep the text in place */
  top: 50%; /* Position from the top */
  left: 50%; /* Position from the left */
  transform: translate(-50%, -50%); /* Center the text horizontally and vertically */
  z-index: -1; /* Move the text behind other content */
  text-align: center; /* Center the text */
  width: 100%; /* Occupy the full width */
}

.background-text h1[b-silgsyv6s8] {
  font-size: 20em; /* Adjust the font size as needed */
  font-weight: bold; /* Make the text bold */
  color: lightblue; /* Text color */
  background-color: white; /* Background color */
  padding: 20px; /* Add padding for better readability */
}

.Red-Text[b-silgsyv6s8] {
  color: red;
}
